# Hostname and port of guacamole proxy
guacd-hostname: {{ GUAC_HOSTNAME }}
guacd-port: {{ GUAC_PORT }}
# MySQL properties
mysql-hostname: {{ MYSQL_HOSTNAME }}
mysql-port: {{ MYSQL_PORT }}
mysql-database: {{ DB_NAME }}
mysql-username: {{ DB_USER }}
mysql-password: {{ DB_PASSWD }}
mysql-default-max-connections-per-user: 0
mysql-default-max-group-connections-per-user: 0
